body
{
font-family:helvetica;

}

div.buybutton
{
width:30%;
}
div.name
{
font-size:22px;
color: #cd88d8;
width:30%;
}
div.artist
{
font-size:20px;
color:#efbef7;
width:30%;
}
div.price
{
color:#8d279f;
float:left;
font-size:18px;
width:30%;
}
div.unimp
{
width:30%;
font-size:14px;
color:#efbef7;
}
div.desc
{
color:#8d279f;
font-weight: bold;
width:30%;
}
div.description
{
color:#8d279f;
font-size:14px;
width:30%;
}
div.image
{
float:left;
}

div.review
{
width:30%;
font-weight: bold;
color:#8d279f;
}