@CHARSET "ISO-8859-1";
/* The entire header, conprising of both levels of navigation */
#header {
	display:block;
	padding-left:10%;
	float:left;	

}
/*formats the content of topnav, navigation, content and footer identically*/

#topnav li, #navigation li, #footer li{
	display:block;
	padding: 5px, 5px, 5px, 5px;
	float:left;	
}

/* Each item in the header, the topnav and navigation */
#header li{
	padding:10px;
	margin:0;
}

/*page footer*/
#footer {
	display:block;
	float:right;
	width:100%	
}

#footerwrapper {
padding-left:30%;
}	

/*each item in the page footer	*/
#footer li{
	padding-left:10px
	}