@CHARSET "ISO-8859-1";
/* The entire header, conprising of both levels of navigation */
#header {
	display:block;
	padding-left:400px;
	float:left;	
}
/*formats the content of topnav, navigation, content and footer identically*/

<<<<<<< HEAD
/* Each item in the header, the topnav and navigation */
#header li{
	padding:10px;
	margin:0;
}

/* The topnav bar, containing the logo, search bar and basket */
#topnav {

}

/*each item in the topnav bar.*/
#topnav li{
	display:block;
	padding: 5px, 5px, 5px, 5px;
	float:left;	
	}

/*The navigation bar, containing the catagories and user navigation*/
#navigation {

=======
#topnav li, #navigation li, #footer li{
	display:block;
	padding: 5px, 5px, 5px, 5px;
	float:left;	
>>>>>>> d7b718f3fc87d6006456eb2b096e84f1be8214da
}

/* Each item in the header, the topnav and navigation */
#header li{
	padding:10px;
	margin:0;
}

#contentDisplay{


}



/*page footer*/
#footer {
	margin:0px;
	float:right;
<<<<<<< HEAD
=======
	width:100%	
>>>>>>> d7b718f3fc87d6006456eb2b096e84f1be8214da
}

/*each item in the page footer	*/
#footer li{
<<<<<<< HEAD
	display:block;
	padding: 5px, 5px, 5px, 5px;
	float:left;		
=======
	padding-left:10px
>>>>>>> d7b718f3fc87d6006456eb2b096e84f1be8214da
	}